<div class="auth-container">

    <h1>Logging in...?</h1>
    <form action="/login" method="post">
    
        <div class="form-section">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Insert your e-mail here!" required>
        </div>

        <div class="form-section">
            <label for="email">Password</label>
            <input type="password" name="password" placeholder="Insert your password here!" required>
        </div>

        <input type="submit" value="Login!">

        <p>Would like to <a href="/register">create </a>an account instead?</p>
    
    </form>

</div>