<div class="auth-container">

    <h1>Looking to register?</h1>

    <form action="/register" method="post">
    
        <div class="form-section">

            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Please insert your name!" required>

        </div>

        <div class="form-section">

            <label for="name">E-mail:</label>
            <input type="text" name="name" placeholder="Please insert your e-mail!" required>

        </div>

        <div class="form-section">

            <label for="name">Password:</label>
            <input type="text" name="name" placeholder="Please insert your password!" required>

        </div>

        <div class="form-section">

            <label for="name">Password confirmation:</label>
            <input type="text" name="name" placeholder="Please confirm your password!" required>

        </div>

        <input type="submit" value="Register!">

        <p>Did you want to <a href="/login">login</a> instead?</p>

    </form>

</div>