<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lookup (to) Heaven!</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        

        <a href="/" id="logo">
            <div id="images-nav">
            <img src="/img/logo-no-background.png" alt="Lookup2Heaven logo">
            <img src="/img/logo.png" id="upper" alt="Lookup2Heaven logo 2">
            </div>
        </a>

        <span><p>Lookup</p><p> (to) </p><p> Heaven!</p></span>

        <hr>

        <ul>
            <li><a href="/"><h3>Verses</h3></a></li>

            {{#if session.userid}}
                <li><a href="/verses/dashboard"><h3 id="biggest">Share a verse!</h3></a></li>
                <li><a href="/logout"><h3>Logout</h3></a></li>
            {{else}}

            <li><a href="/login"><h3>Login</h3></a></li>
            <li><a href="/register"><h3>Register</h3></a></li>

            {{/if}}

        </ul>

    </nav>

    <div class="container">


        
        {{#if messages.message}}
            <div id="flash">
                {{messages.message}}
            </div>
        {{/if}}

        {{#if userAlreadyExists}}
            <div id="flash">
                <p>This e-mail is already in use! Did you want to <a href="/login">login?</a></p>
            </div>
        {{/if}}

        {{#if invalidUser}}
            <div id="flash">
                <p>This account doesn't exist... <a href="/register">Yet!</a></p>
            </div>
        {{/if}}

        {{#if timedOut}}
            <div id="flash">
                <p>This session has timed out! Sorry, but you have to login again!</p>
            </div>
        {{/if}}


    {{{body}}}
    </div>
    <footer>
        <p><span>MiguelProgramas</span> &copy; 2025</p>
    </footer>
</body>
</html>