* {

  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: beige;

}

hr {

    border: 1px solid rgb(8, 97, 124);
    width: 70%;

}

h1 {

    text-align: center;
    color: rgb(8, 97, 124);
    min-width: 200px;

}

.blue-p {

    color: rgb(16, 110, 173)

}

#logo img {

    height: 90px;

}

#images-nav {

    position: relative;

}


#navbar {

    margin-top: .5em;
    display: flex;
    padding: .5em 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 195, 255);
    margin-bottom: .5em;

}

#navbar ul {

    display: flex;
    list-style: none;

}

#navbar ul li {

    padding: 0 1em;

}

#navbar ul li a {

    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: .5s;
    cursor: pointer;

}

#biggest {

    min-width: 133px;
    text-align: center;
    color: rgb(8, 97, 124);
    transition: .5s;

}

#biggest:hover {

    color:rgb(0, 195, 255)

}


#navbar ul li a:hover {

    color:rgb(0, 195, 255);

}



#navbar span {

    display: flex;
    align-items: center;
    flex-direction: column;

}

#navbar span p {

    transition: .5s;

}

#navbar span p:hover {

    color: rgb(8, 97, 124);

}

#upper {

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 500ms;

}

#upper:hover {

opacity: 1;

}

.container {

min-height: 60vh;
padding: 2em;

}

footer {

display: flex;
justify-content: center;
background-color: rgb(8, 97, 124);
border: 1px solid rgb(7, 63, 80);

}

footer p {

    color:rgb(7, 63, 80);
    padding: 1em;
    font-weight: bold;
}

.auth-container {

    margin: 0 auto;
    max-width: 450px;
    display: flex;
    align-items: center;

}

.auth-container h1 {

    border-right: 1px solid rgb(0, 195, 255);
    margin-right: 1em;

}

.form-section {

    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    min-width: 250px;

}

.form-section label {

    font-weight: bold;
    margin-bottom: .5em;

}

.form-section input, .form-section textarea {

    padding: 5px;
    border-radius: 5px;
    border-color:rgb(8, 97, 124)
}

form input[type="submit"], .btn {

    background-color: transparent;
    color:rgb(8, 97, 124);
    border: 2px solid rgb(7, 63, 80);
    padding: .5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;

}

form input[type="submit"]:hover, .btn {

    background-color: rgb(8, 97, 124);
    color: white;

}

.auth-container a {

    color:rgb(8, 97, 124);
    text-decoration: none;

}

#flash {

    color: white;
    background-color:rgb(8, 97, 124);
    padding: 1em;
    text-align: center;
    border: 1px solid rgb(0, 195, 255);
    border-radius: 5px;
    max-width: 60%;
    margin: 0 auto 1em

}

#flash p, #flash a {

    background-color: transparent;

}

#flash a {

    text-decoration: none;
    color: yellow;
    transition: .5s;

}

#flash a:hover {

    color: rgb(0, 195, 255);

}

.button {

    background-color: rgb(16, 110, 173);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: .3em .7em;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    width: 50%;

}

.button:hover {

    background-color: rgb(8, 97, 124);

}

.button p {

    text-align: center;
    background-color: transparent;

}

.title a {

    margin-left: 2.2em

}

.title {

    height:8em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title h1 {

    margin-bottom: 1em;
    border-bottom: 1px solid rgb(8, 97, 124);
    border-right: none;
    width: 10em;
    padding-bottom: .5em;

}

.dashboard {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dashboard h2 {

    margin-top: 3em;
    border-left: 5px solid rgb(16, 110, 173);
    padding-left: .5em;
    margin-bottom: 1.5em;

}

.dashboard li {

    padding: 12px;
    border-bottom: 1px solid rgb(8, 97, 124);
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.dashboard .label {

    font-weight: bold;
    color: rgb(16, 110, 173);
    margin-right: 2em;
    min-width:50%;


}

.dashboard .actions {

    display: flex;
    flex-direction: row;

}

.dashboard .actions .btn {

    margin: 0 0.5em;

}

.dashboard .actions a {

    min-width: 5em;

}

.dashboard p a {

    color: rgb(8, 97, 124)

}

#home-header {

    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;

}

#home-header h1 {

    margin-bottom: 1em;

}

#home-header span {

    color: rgb(16, 110, 173);
    font-weight: bold;

}

#home-header p, #home-header form {

    margin-bottom: 1.2em;

}

#home-header input[type="text"] {

    border: none;
    border-bottom: 1px solid rgb(8, 97, 124);
    width: 60%;
    padding: .5em;
    margin-right: 1em;
    transition: .5s;

}

#home-header input[type="text"]:hover {

    box-shadow: 2px 2px 26px 2px rgb(16, 110, 173);

}

#order-container {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;

}

#order-container form {

    margin: 0;

}

#order-container a {

    color: black;

}

#order-container button {

    margin-bottom: 0;
    border: none;
    cursor: pointer;

}

#order-container button:hover,
#order-container i:hover,
#order-container a:hover {

    color: rgb(16, 110, 173)

}

#order-container button,
#order-container i,
#order-container a {

    margin: 0 4px;

}

#verses-container figure {

    border-bottom: 1px solid rgb(16, 110, 173);
    padding: .5em;
    max-width: 50%;
    margin: 0 auto 1em;

}

#verses-container blockquote {

    font-style: italic;
    font-size: 1.5em;
    margin-bottom: .4em;

}

#verses-container span {

    color: rgb(8, 97, 124);

}

#logoutQ {

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 9em;
    min-width: 6em;
    border-left: 1px solid rgb(16, 110, 173);
    padding: 0.2em;

}

#logoutQ a {

    text-decoration: none;
    color: black;
    transition: .5s;
    cursor: pointer;

}

#logoutQ p {

    text-align: center;
    margin: .2em;

}

#logoutQ a:hover {

    color:rgb(8, 97, 124);

}

.visibleFlex {

    display: flex;

}

.verse-adding-container a {

    color: rgb(8, 97, 124);
    text-decoration: none;
    transition: .5s;

}

.verse-adding-container a:hover {

    color: rgb(22, 138, 214);
    padding: .5em;
    border-radius: 5px;

}

.verse-adding-container label {

    border-left: 4px solid rgb(16, 110, 173);
    padding: .5em;

}

.verse-adding-container form {

    max-width: 70%;

}

.submit {

    transition: .5s;
    max-width: 1em;

}

.submit:hover {

    padding: 0 .5em 0;

}