<div class="verse-adding-container">

    <a href="/verses/dashboard">Go back</a>
    <h1>Adding a verse</h1>

    <form action="/verses/add" method="post">

        <div class="form-section">
    
            <label for="title">Type your verse here:</label>
            <input type="text" name="title" placeholder="'{{line}}'">

        </div>

        <div class="submit">

            <input type="submit" value="Share verse!">

        </div>

    </form>

</div>