<div class="dashboard">

    <div class="title">
        <h1>Sharing a verse?</h1>
        <a href="/verses/add" class="button"><p>Add a verse!</p></a>
    </div>

    <h2>Here are the verses currently added by you:</h2>

    <ul>

        {{#each verses}}

            <li>

                <span class="label">{{this.title}}</span>
                <span class="actions">

                    <a href="/verses/edit/{{this.id}}" class="btn">Edit verse</a>

                    <form action="/verses/remove" method="post">
                    
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Delete" class="btn">

                    </form>

                </span>

            </li>

        {{/each}}

    </ul>

    {{#if noVerses}}

            <p>It seems you have not added any verses to the community tab yet. Should you wish to change that, <a href="/verses/add">click here!</a></p>

    {{/if}}

</div>