<div class="dashboard">

    <div class="title">
        <h1>Sharing a verse?</h1>
        <a href="/verses/add" class="button"><p>Add a verse!</p></a>
    </div>

    <h2>Here are the verses currently added by you:</h2>

</div>