<div id="home-header">

    <h1>Look (down) to our shared verses!</h1>

    <form action="" method="post">

        <input type="text" name="search" placeholder="Looking for any specific one?" required>
        <input type="submit" value="Search!">

    </form>

    <div id="order-container">

        <span>Order by:</span>

        <form action="/" method="get">

            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">

            <button type="submit"><i class="bi bi-arrow-up"></i></button>

        </form>

        <form action="/" method="get">

            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">

            <button type="submit"><i class="bi bi-arrow-down"></i></button>

        </form>

        <a href="/">Clean search</a>

    </div>

</div>

<div id="verses-container">


    {{#each readableVerses}}

        <figure>

            <blockquote>

                "{{this.title}}"

            </blockquote>

            <figcaption>

                by <span>{{this.User.name}}</span>

            </figcaption>

        </figure>

    {{/each}}

</div>